/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/views/_body.scss */
body {
  background: #666;
  height: 100%;
  width: 100%;
  background: red;
  background: url("../images/bg.png");
  /**************************/
  /*	SIDE NAV*/
  /**************************/
  /**************************/
  /*	TITLE */
  /**************************/
  /**************************/
  /*	SLIDER */
  /**************************/
  /**************************/
  /* CONTENT */
  /**************************/
}
/* line 8, ../sass/views/_body.scss */
body h1, body h2, body h3, body h4 {
  font-family: 'Oswald', sans-serif;
}
/* line 12, ../sass/views/_body.scss */
body p, body li {
  font-family: Arial, Helvetica, sans-serif;
}
/* line 16, ../sass/views/_body.scss */
body .header {
  letter-spacing: 8px;
  text-transform: uppercase;
  color: #B25900;
  font-size: 32px;
  font-weight: 400;
  font-family: 'Oswald', sans-serif;
}
/* line 25, ../sass/views/_body.scss */
body .sub-head {
  font-size: 18px;
  font-style: italic;
  font-weight: 300;
  font-size: 24px;
  padding: 10px 0px;
  line-height: 29px;
  font-family: 'Oswald', sans-serif;
  color: #878787;
}
/* line 36, ../sass/views/_body.scss */
body .bold {
  font-weight: 700;
}
/* line 40, ../sass/views/_body.scss */
body .wrapper {
  position: relative;
  margin: 0 auto;
  width: 1024px;
  min-height: 1000px;
  background: #fff;
  overflow: hidden;
}
/* line 49, ../sass/views/_body.scss */
body .sub-page-top {
  position: relative;
  width: 100%;
  height: 100px;
  z-index: 1;
  background: url("../images/sub-head.jpg");
}
/* line 57, ../sass/views/_body.scss */
body .left-header {
  position: relative;
  display: inline-block;
  width: 370px;
  min-height: 400px;
  padding: 0px 10px;
  vertical-align: top;
}
/* line 68, ../sass/views/_body.scss */
body .nav {
  position: relative;
  display: inline-block;
  width: 340px;
  margin-left: 32px;
  min-height: 400px;
  padding: 0px 10px;
  vertical-align: top;
}
/* line 77, ../sass/views/_body.scss */
body .nav h1 {
  padding: 20px 0px;
  color: #878787;
  font-size: 32px;
  font-weight: 300;
  line-height: 36px;
}
/* line 85, ../sass/views/_body.scss */
body .nav ul {
  padding-top: 20px;
}
/* line 88, ../sass/views/_body.scss */
body .nav ul li {
  width: 340px;
  height: 60px;
  background: #666;
  margin: 5px 0px;
  font-size: 24px;
  text-align: center;
  border-radius: 15px;
  color: #000;
}
/* line 98, ../sass/views/_body.scss */
body .nav ul li:hover {
  background: #B25900;
  color: #ccc;
}
/* line 103, ../sass/views/_body.scss */
body .nav ul li a {
  text-decoration: none;
  padding-top: 18px;
  height: 60px;
  width: 100%;
  display: block;
  text-transform: uppercase;
  letter-spacing: 16px;
  font-weight: 300;
  color: inherit;
}
/* line 115, ../sass/views/_body.scss */
body .nav ul .active {
  background: #B25900;
  border-radius: 15px;
  color: #ccc;
  height: 42px;
}
/* line 127, ../sass/views/_body.scss */
body .title {
  position: absolute;
  top: 20px;
  width: 100%;
  text-align: center;
  color: #ccc;
  font-size: 62px;
  font-weight: 300;
  z-index: 20;
  text-transform: uppercase;
  letter-spacing: 25px;
  text-decoration: none;
}
/* line 145, ../sass/views/_body.scss */
body #slides {
  display: none;
  position: relative;
  z-index: 1;
}
/* line 150, ../sass/views/_body.scss */
body #slides .slidesjs-navigation {
  width: 90px;
  height: 30px;
  background: #000;
  position: absolute;
  top: 488px;
  z-index: 20;
  color: #000;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  opacity: .6;
  cursor: pointer;
}
/* line 165, ../sass/views/_body.scss */
body #slides .slidesjs-previous {
  left: 10px;
  background: url("../images/prev.png");
  background-repeat: no-repeat;
  background-position: center center;
}
/* line 172, ../sass/views/_body.scss */
body #slides .slidesjs-next {
  right: 10px;
  background: url("../images/next.png");
  background-repeat: no-repeat;
  background-position: center center;
}
/* line 179, ../sass/views/_body.scss */
body #slides .slidesjs-pagination {
  position: absolute;
  top: 488px;
  width: 800px;
  height: 30px;
  z-index: 20;
  left: 50%;
  margin-left: -400px;
  text-align: center;
  opacity: .6;
}
/* line 190, ../sass/views/_body.scss */
body #slides .slidesjs-pagination li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0px 15px;
  margin-top: 5px;
  background: #fff;
  border-radius: 15px;
}
/* line 199, ../sass/views/_body.scss */
body #slides .slidesjs-pagination li a {
  opacity: 0;
  width: 100%;
  height: 100%;
  display: block;
}
/* line 213, ../sass/views/_body.scss */
body .content {
  position: relative;
  display: inline-block;
  vertical-align: top;
  float: right;
  width: 535px;
  min-height: 800px;
  background: #ccc;
  border-radius: 15px;
  color: #666;
  margin: 20px;
  padding: 20px 20px;
}
/* line 226, ../sass/views/_body.scss */
body .content h2 {
  font-size: 32px;
  font-weight: 400;
  padding: 20px 0px 0px 0px;
}
/* line 232, ../sass/views/_body.scss */
body .content p {
  font-size: 14px;
  font-weight: 300;
  padding: 20px 0px 0px 0px;
  line-height: 16px;
}
/* line 239, ../sass/views/_body.scss */
body .content img {
  padding: 20px 0px 0px 0px;
}
/* line 245, ../sass/views/_body.scss */
body .footer {
  position: relative;
  margin: 0 auto;
  clear: both;
  height: 50px;
  width: 1024px;
  background: #666;
  text-align: center;
  font-weight: 300;
}
/* line 255, ../sass/views/_body.scss */
body .footer h1 {
  color: #fff;
  font-size: 23px;
  letter-spacing: 5px;
  padding-top: 15px;
}

/* line 264, ../sass/views/_body.scss */
.fixed {
  position: fixed !important;
  top: 0 !important;
}

/* line 3, ../sass/views/_home.scss */
.home .blog {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 620px;
  min-height: 800px;
  overflow-x: hidden;
  margin-top: -180px;
  z-index: 0;
}
