body {
	background: #666;
	height: 100%;
	width: 100%;
	background: red;
	background: url('../images/bg.png');

h1, h2, h3, h4 {
	font-family: 'Oswald', sans-serif;
}

p, li {
	font-family: Arial, Helvetica, sans-serif
}

.header {
	letter-spacing: 8px;
	text-transform: uppercase;
	color: #B25900;
	font-size: 32px;
	font-weight: 400;
	font-family: 'Oswald', sans-serif;
}

.sub-head {
	font-size: 18px;
	font-style: italic;
	font-weight: 300;
	font-size: 24px;
	padding: 10px 0px;
	line-height: 29px;
	font-family: 'Oswald', sans-serif;
	color: #000;
}

.bold {
	font-weight: 700;
}

	.wrapper {
		position: relative;
		margin: 0 auto;
		width: 1024px;
		min-height: 1000px;
		background: #fff;
		overflow: hidden;
	}

	.sub-page-top {
		position: relative;
		width: 100%;
		height: 100px;
		z-index: 1;
		background: url('../images/sub-head.jpg');
	}

	.left-header {
		position: relative;
		display: inline-block;
		width: 370px;
		min-height: 400px;
		padding: 0px 10px;
		vertical-align: top;
	}
/**************************/
/*	SIDE NAV*/
/**************************/
	.nav {
		position: relative;
		display: inline-block;
		width: 340px;
		margin-left: 32px;
		min-height: 400px;
		padding: 0px 10px;
		vertical-align: top;

		h1 {
			padding: 20px 0px;
			color: #000;
			font-size: 32px;
			font-weight: 300;
			line-height: 36px;
		}

		ul {
			padding-top: 20px;
			
			li {
				width: 340px;
				height: 60px;
				background: #666;
				margin: 5px 0px;
				font-size: 24px;
				text-align: center;
				border-radius: 15px;
				color: #000;

				&:hover {
					background: #B25900;
					color: #ccc;
				}

				a {
					text-decoration: none;
					padding-top: 18px;
					height: 60px;
					width: 100%;
					display: block;
					text-transform: uppercase;
					letter-spacing: 16px;
					font-weight: 300;
					color: inherit;
				}
			}
			.active {
				background: #B25900;
				border-radius: 15px;
				color: #ccc;
				height: 42px;
			}
		}
	}

/**************************/
/*	TITLE */
/**************************/
	.title {
		position: absolute;
		top: 20px;
		width: 100%;
		text-align: center;
		color: #ccc;
		font-size: 62px;
		font-weight: 300;
		z-index: 20;
		text-transform: uppercase;
		letter-spacing: 25px;
		text-decoration: none;
	}

/**************************/
/*	SLIDER */
/**************************/

	#slides {
      	display:none;
      	position: relative;
		z-index: 1;

	    .slidesjs-navigation {
			width: 90px;
			height: 30px;
			background: #000;
			position: absolute;
			top: 488px;
			z-index: 20;
			color: #000;
			text-align: center;
			text-decoration: none;
			border-radius: 5px;
			opacity: .6;
			cursor: pointer;
		}

		.slidesjs-previous {
			left: 10px;
			background: url('../images/prev.png');
			background-repeat:no-repeat;
			background-position: center center;
		}

		.slidesjs-next {
			right: 10px;
			background: url('../images/next.png');
			background-repeat:no-repeat;
			background-position: center center;
		}

		.slidesjs-pagination {
			position: absolute;
			top: 488px;
			width: 800px;
			height: 30px;
			z-index: 20;
			left: 50%;
			margin-left: -400px;
			text-align: center;
			opacity: .6;

			li {
				position: relative;
				display: inline-block;
				width: 20px;
				height: 20px;
				margin: 0px 15px;
				margin-top: 5px;
				background: #fff;
				border-radius: 15px;
				a {
					opacity: 0;
					width: 100%;
					height: 100%;
					display: block;
				}
			}
		}
    }

/**************************/
/* CONTENT */
/**************************/

	.content {
		position: relative;
		display: inline-block;
		vertical-align: top;
		float: right;
		width: 535px;
		min-height: 800px;
		background: #ccc;
		border-radius: 15px;
		color: #666;
		margin: 20px;
		padding: 20px 20px;

		h2 {
			font-size: 32px;
			font-weight: 400;
			padding: 20px 0px 0px 0px;
		}

		p {
			font-size: 14px;
			font-weight: 300;
			padding: 20px 0px 0px 0px;
			line-height: 16px;
		}

		img {
			padding: 20px 0px 0px 0px;
		}
	}


	.footer {
		position: relative;
		margin: 0 auto;
		clear: both;
		height: 50px;
		width: 1024px;
		background: #666;
		text-align: center;
		font-weight: 300;

		h1 {
			color: #fff;
			font-size: 23px;
			letter-spacing: 5px;
			padding-top: 15px;
		}
	}
}

.fixed {
	position: fixed !important;
	top: 0 !important;
}